.tab-item {
  width: 110px;
}
.tab-item:hover{
  background-color: #ffff;
}
.tab-button {
  outline: none !important;
  padding: 12px 10px;
  background-color: #eeeeee;
  border-radius: 0px;
  width: 100%;
  border: none;
  font-size: 14px;
  color: #777;
  font-family: sans-serif;
}
.tab-button:hover{
  background-color: #ffff;
}
.active-item {
  background: #ffff !important;
  outline: none !important;
  border-bottom: 3px solid #2c82d8;
  color: #000;
}
