.history-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.device-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.from-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  margin-top: 10px;
}
.input-container {
  display: flex;
  width: 200px;
}
.input {
  width: 100px !important;
  height: 32px !important;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;  outline: none;
  margin-right: 3px;
  padding: 10px;
}
.select {
  width: 200px;
  height: 32px;
  background-color: #eeeeee;
  outline: none;
  border: none;
   
  border-radius: 3px;
}
.button-container{
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.show-history-button{
    border: none;
    outline: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 40px;
}